@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    cursor: default;
}
.font1{
    font-family: 'Poppins', sans-serif;
}
.gradiant{
    background: linear-gradient(#B2A6A9,#E84393 , #4500ac , #1dc8fc);
    filter: blur(100px);
    animation-duration: 30s;
    animation-name: gradiant_change;
}
.gradiant_small{
    background: linear-gradient(#B2A6A9,#E84393 , #1dc8fc , #1dc8fc);
    filter: blur(100px);
    animation-duration: 120s;
    animation-name: gradiant_change_small;
}
.bg-custom-black{
    background-color: #0B0B0B;
}
.test{
    transition: all ease-in-out 500ms;
    opacity: 0;
    transform: translateY(10px);
    filter: blur(10px);
}
.animate{
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}
/* .navbar{
    transition: all ease-in-out 400ms;
}
.nav_animate1{
    transform: translateX(-10%);
    filter: blur(10px);
}
.nav_animate2{
    transform: translateX(0%);
    filter: blur(0px);
} */
.active{
    background-color: #392E4A;
    color: #ECD9DD;
}
@keyframes gradiant_change{
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(-100%,100%);
    }
    75%{
        transform: translate(-50% , 100%);
    }
    100%{
        transform: translate(0% , 0%);
    }
}
@keyframes gradiant_change_small{
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(100vw,50vh);
    }
    75%{
        transform: translate(50vw , 50vh);
    }
    100%{
        transform: translate(0vw , 0vh);
    }
}
.glass{
    background-color: rgb(221,221,221,0.1);
    border: 2px solid rgb(221, 221, 221 , 0.8);
    /* border-radius: 10px; */
    backdrop-filter: blur(100px);
    color: #ECD9DD;
}
.bounce{
    transition: all ease-in-out 500ms;
    filter: blur(10px);
}
.bounced{
    transform: translateY(-30px);
    filter: blur(0px);
}
.tools_container{
    background-color: rgb(217, 217, 217 , 0.1);
    border: solid 1px rgb(217, 217, 217 , 0.2);
    backdrop-filter: blur(50px);
}
.tools{
    filter: blur(10px);
    transform: translateX(-100px);
    transform: scaleX(0);
}
.seen{
    transform: translateX(0px);
    filter: blur(0px);
    transform: scaleX(1);
}
.ModernCss{
    transform-style: preserve-3d;
}